.App {
  /* text-align: center; */
}

.cards-container {
  padding: 5% 10%;
}
.cards-container h1{
  text-align: center;
}
.card-wrapper{
  display: inline-block;
  margin: 10px;
}
.display-card {
  display: inline-block;
  width: auto;
  padding: 30px;
}
